body {
  background-color: #ccc;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.row {
  display: flex;
}

.row_center {
  justify-content: center;
}

.row_horizontal-center {
  align-content: center;
}

.margin-auto {
  margin: auto;
}

.list {
  position: relative;
  text-align: center;
}

.list__search {
  padding-top: 10px;
}

.list__error {
  position: absolute;
  padding: 5px;
  color: #fff;
  background-color: #f44336;
}

.pokemons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pokemons__item {
  display: inline-flex;
  margin: 10px;
}
